.backdrop {
	position: fixed;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	background-color: var(--backdrop-bg-40);
	opacity: 1;
	visibility: visible;

	transition: opacity var(--trans-properties),
		visibility var(--trans-properties);
	
	&.is-hidden {
			opacity: 0;
			pointer-events: none;
			visibility: hidden;
		}
}

.modal-title {
	margin-bottom: 16px;

	color: var(--main-dark-txt-cl);
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	text-align: center;

	@include mediaMax(427.98px) {
		font-size: 14px;
	}
}

.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(1);

	width: 408px;
	padding-top: 72px;
	padding-bottom: var(--main-gap);
	padding-left: var(--main-gap);
	padding-right: var(--main-gap);

	background-color: var(--modal-bg-cl);
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
		0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;

	transition: transform var(--trans-properties);
		
	.backdrop.is-hidden & {
			transform: translate(-50%, -50%) scale(1.1);
		}

	@include mediaMax(427.98px) {
		width: 95%;
	}
}

.modal .close-btn {
	position: absolute;
	top: var(--main-gap);
	right: var(--main-gap);
}

.modal-label {
	display: flex;
	flex-flow: column;
	max-width: 360px;
}

.modal-label-txt {
	color: var(--customers-icon);

	@extend %modalText;
}

.modal-label + .modal-label {
	margin-top: 8px;
}

.modal-input-thumb {
	position: relative;

	width: 100%;
	height: 40px;
	margin-top: 4px;
}

.modal-label-icon {
	position: absolute;
	left: 16px;
	top: 50%;
	transform: translateY(-50%);

	width: 18px;
	height: 24px;

	fill: currentColor;

	transition: fill var(--trans-properties);

	.modal-input:focus + & {
			fill: var(--primary-brand);
		}
}

.modal-input {
	color: inherit;
	font-size: 12px;
	line-height: 1.33;
	letter-spacing: 0.04em;

	border: 1px solid var(--modal-input-bd-cl-20);
	border-radius: 4px;

	transition: border-color var(--trans-properties);

	&.required {
			width: 100%;
			height: 100%;
			padding-left: 38px;
		}
	
	&.comments {
			width: 100%;
			height: 120px;
			margin-top: 4px;
			padding: 8px 16px;
	
			resize: none;
		}

	&::placeholder {
			color: var(--gray-modal-placeh-txt-cl-50);
		}
	
	&:not(:placeholder-shown) {
			border-color: var(--primary-brand);
		}
	
	&:not(:placeholder-shown)+.modal-label-icon {
			fill: var(--primary-brand);
		}
	
	&:focus {
			border-color: var(--primary-brand);
		}
}

.modal-checkbox-container {
	position: relative;
	
	padding-left: 24px;
	margin-top: 16px;
}

.modal-checkbox-txt {
	color: var(--gray-pripol-txt-cl);

	@extend %modalText;
}

.modal-checkbox-link {
	display: inline-block;
	height: 100%;

	color: var(--primary-brand);

	@extend %modalText;
}

.checkbox-icon {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);

	display: block;
	width: 16px;
	height: 16px;

	fill: transparent;
	background-color: transparent;
	border: 1.25px solid var(--main-dark-txt-cl);
	border-radius: 2px;
	transition: background-color var(--trans-properties),
		border-color var(--trans-properties),
		fill var(--trans-properties) 100ms;

	.modal-checkbox:checked ~ & {
			fill: var(--second-light-bg-cl);
			background-color: var(--hover-bg);
			background-origin: border-box;
			border-color: transparent;
		}
		
	.modal-checkbox:focus ~ & {
			outline: 2px solid var(--hover-bg);
		}
}

.modal .main-btn {
	margin-top: var(--main-gap);
}