.nav {

    @include mediaMax(767px) {
    margin-bottom: auto;
    }
    @include mediaMin(768px) {
        height: 100%;
        margin-right: 118px;
    }

    @include mediaMin(1200px) {
        margin-right: 332px;
    }
}

.nav-list {
    display: flex;
    letter-spacing: 0.02em;

    @include mediaMax(767px) {
        flex-direction: column;
        row-gap: 40px;
    
        color: var(--main-dark-txt-cl);
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
    }
    
    @include mediaMin(768px) {
        height: 100%;
        flex-direction: row;
        column-gap: 40px;
        margin-bottom: 0;

        font-weight: 500;
        font-size: inherit;
        line-height: 1.5;
    }
}

.current-item {
    position: relative;
}

.current-link {
    color: var(--hover-bg);

@include mediaMin(768px) {
    &::after {
        content: '';

        position: absolute;
        bottom: -1px;

        display: block;
        width: 100%;
        height: 4px;

        background: var(--hover-bg);
        border-radius: 2px;
    }
}
}

.nav-list-link {
    display: block;

    @include mediaMin(768px) {
        height: 100%;
        padding-top: 24px;
        padding-bottom: 22px;
    }

    @include mediaMin(1200px) {
        padding-bottom: 28px;
    }

    transition: color var(--trans-properties);
}

.nav-list-link:hover,
.nav-list-link:focus,
.address-list-link:hover,
.address-list-link:focus {
    color: var(--hover-bg);
}