.container {
	@include container();
	
	@include mediaMin(480px) {
		width: 428px;
	}

	@include mediaMin(768px) {
		width: 768px;
	}

	@include mediaMin(1200px) {
		width: 1158px;
		padding-right: 15px;
		padding-left: 15px;
	}
}