.logo {
    height: 100%;

    @include headerLinksGeometry();

    @include mediaMin(768px) {
        @include headerLinksGeometry($pb: 22px);
    }

    @include mediaMin(1200px) {
        @include headerLinksGeometry($pb: 28px);
    }

    color: var(--primary-brand);
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    line-height: 1.33;
    
    &-accent {
        color: var(--main-dark-txt-cl);
    }

    @include mediaMin(768px) {
        line-height: 1.17;
    }
}