
.section-title {
    margin-bottom: 72px;

    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
}

.section-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.section-descr {
    color: var(--second-dark-txt-cl);
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.section-subtitle {
    margin-bottom: 8px;
}
