%buttonsText {
    font-weight: 500;
    font-size: inherit;
    letter-spacing: 0.04em;
	line-height: 1.5;
    
    cursor: pointer;
}

%modalText {
    @include mediaMax(427px) {
        font-size: 10px;
    }

    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
}