%buttonsText {
    font-weight: 500;
    font-size: inherit;
    letter-spacing: 0.04em;
	line-height: 1.5;
    
    cursor: pointer;
}

%modalText {
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
}

%headerLinksGeometry {
    height: 100%;
    padding-top: 24px;
    padding-bottom: 24px;
}